@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/yekan/Yekan.woff2') format('woff2')و
      url('./assets/fonts/yekan/Yekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
  text-align: right;
  margin: 0;
  font-family: 'Yekan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Yekan', sans-serif;
}